@import "tailwindcss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FCFDFF;
    margin: 0;
    padding: 0;
}

[data-p-highlight="true"] {
  background-color: blue !important;
  border-color: blue !important;
}

/* :bg-blue-500 data-[p-highlight=true]:border-blue-500' */
